{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="flex flex-col justify-center items-center lg:flex-row lg:mt-12 xl:mt-16 2xl:mt-20">
        <div class="flex flex-col justify-center items-center text-center min-w-[50%] flex-grow lg:h-auto p-6 prose mb-5">
            <h1 class="text-5xl text-gray-300 mb-2 font-mono tracking-wider">
                <img src="{% static 'img/python-logo.png' %}" alt="Python Logo" class="inline-block w-16 h-16 my-0 mt-3 sm:mt-0 me-2">
                The Pyoneer Project
            </h1>
            <span>For the ambitious, by the ambitious</span>

            <p class="text-2xl text-gray-300 2xl:my-6">
                Learn Full-Stack Python & Django the way I wish I had.
            </p>

            <span class="mb-2">You won't get these tips from ChatGPT.</span>
            <button id="cta-button" class="btn btn-warning text-black btn-wide btn-lg group hover:border-transparent mb-3">
                <span class="group-hover:hidden">Are You All In? <span id="mortar-board-emoji" class="ml-1.5">🎓</span></span>
                <span class="hidden group-hover:block">Hell yea!!! <span id="fire-emoji" class="ml-1.5">🔥</span></span>
            </button>
            <div class="avatar-group -space-x-6">
                <div class="avatar">
                    <div class="w-12">
                        <img class="m-0" src="{% static 'img/burghel.jpg' %}" />
                    </div>
                </div>
                <div class="avatar">
                    <div class="w-12">
                        <img class="m-0" src="{% static 'img/elias.jpg' %}" />
                    </div>
                </div>
                <div class="avatar">
                    <div class="w-12">
                        <img class="m-0" src="{% static 'img/pisicut.jpg' %}" />
                    </div>
                </div>
                <div class="avatar placeholder">
                    <div class="w-12 bg-neutral-focus text-neutral-content">
                        {% with number_of_registered_users=12 %}
                        <span class="font-semibold">+{{ number_of_registered_users|add:-3 }}</span>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>

        <div id="chat-section" class="flex flex-col justify-center items-start px-6 2xl:px-12 py-6"
             _="on intersection
              transition #initial-message-giga-chad's opacity to 1
              then transition #initial-message-soyjack's opacity to 1
              then transition #chat-response-buttons's opacity to 1
              then transition #excuses-container's opacity to 1">

            <div id="chat-window" class="border border-gray-600 bg-base-100 relative rounded-l-box rounded-tr-box max-lg:rounded-r-box w-full p-8 2xl:max-h-72 overflow-y-hidden mb-3 lg:mt-12 xl:mt-16 2xl:mt-20">
                <div id="chat-messages-container" class="flex min-h-[6rem] 2xl:max-h-[15rem] min-w-[18rem] max-w-4xl flex-wrap items-center gap-4 w-full overflow-y-scroll"
                     _="init set my scrollTop to 0 end">

                    {# Interactive Chat Box #}
                    <div id="chat-interaction" class="w-full"
                         hx-get="{% url 'receive_gigachad_message' %}"
                         hx-target="#gigachad-message-to-replace"
                         hx-trigger="requestGigaChadResponse"
                         hx-vals="js:{'message_content': $userMessage}"
                         hx-swap="outerHTML scroll:#chat-messages-container:bottom">

                        {# Chat messages #}
                        <div id="initial-message-giga-chad" class="chat chat-start" style="opacity:0">
                            <div class="chat-image avatar">
                                <div class="w-10 rounded-full">
                                    <img src="{% static 'img/giga-chad.jpeg' %}"  alt="Giga Chad"/>
                                </div>
                            </div>
                            <div class="chat-bubble chat-bubble-warning">
                                Hey chief. I'm here to help you become a 10x engineer.
                            </div>
                        </div>

                        <div id="initial-message-soyjack" class="chat chat-end" style="opacity:0">
                            <div class="chat-image avatar">
                                <div class="w-10 rounded-full">
                                    <img src="{% static 'img/soyjack.png' %}"  alt="Soy Jack"/>
                                </div>
                            </div>
                            <div class="chat-bubble">
                                I'm not ready to become a 10x engineer...
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Chat box input #}
            <div id="chat-response-buttons" class="flex w-full justify-center lg:justify-end" style="opacity:0"
                 _="on htmx:afterSettle(detail) from #chat-interaction
                    if detail.pathInfo.requestPath contains '{% url 'receive_gigachad_message' %}'
                        for button in my children remove @disabled from button">

                {# Behavior to process user's response #}
                <script type="text/hyperscript">
                    behavior processResponseBehavior(userMessageValue)
                      on click
                          // Disable all buttons to prevent user from sending multiple requests at once
                          set <#chat-response-buttons > button/>'s @disabled to true then

                          // Update the global user message
                          set $userMessage to userMessageValue then

                          // Initiate the sequence to display user's chat bubble in the UI
                          trigger sendUserResponse then

                          // Ensure target element is stable in DOM before proceeding to the next action
                          wait for htmx:afterSettle from body then

                          // Request GigaChad's response, which will involve a backend call to OpenAI
                          send requestGigaChadResponse to #chat-interaction then

                          // Remove this button from the DOM
                          remove me then

                          // Reduce the count of available excuses after each interaction
                          decrement $remainingExcuses then

                          // Adjust displayed excuse count or notify user when they're out of excuses
                          if $remainingExcuses == 0
                              put '📸 🤨 No excuses left' into #excuses
                          else
                              put `Excuses ` + it + `/4` into #excuses
                          end then
                      end
                    end
                </script>
                <div>
                    <button class="btn bg-base-100 md:me-1"
                            hx-post="{% url 'send_user_message' %}"
                            hx-vals="js:{message_content: $userMessage}"
                            hx-trigger="sendUserResponse"
                            hx-target="#chat-interaction"
                            hx-swap="beforeend scroll:#chat-messages-container:bottom"
                            _="install processResponseBehavior(userMessageValue:'I dont have any money')">
                        No Money
                    </button>
                </div>
                <button class="btn bg-base-100 md:me-1"
                        hx-post="{% url 'send_user_message' %}"
                        hx-vals="js:{message_content: $userMessage}"
                        hx-trigger="sendUserResponse"
                        hx-target="#chat-interaction"
                        hx-swap="beforeend scroll:#chat-messages-container:bottom"
                        _="install processResponseBehavior(userMessageValue:'I dont have any time')">
                    No Time
                </button>
                <button class="btn bg-base-100 md:me-1"
                        hx-post="{% url 'send_user_message' %}"
                        hx-vals="js:{message_content: $userMessage}"
                        hx-trigger="sendUserResponse"
                        hx-target="#chat-interaction"
                        hx-swap="beforeend scroll:#chat-messages-container:bottom"
                        _="install processResponseBehavior(userMessageValue:'I dont have any talent')">
                    No Talent
                </button>
                <button class="btn bg-base-100"
                        hx-post="{% url 'send_user_message' %}"
                        hx-vals="js:{message_content: $userMessage}"
                        hx-trigger="sendUserResponse"
                        hx-target="#chat-interaction"
                        hx-swap="beforeend scroll:#chat-messages-container:bottom"
                        _="install processResponseBehavior(userMessageValue:'I dont have patience')">
                    No Patience
                </button>
            </div>

            {# Excuses #}
            <div id="excuses-container" class="flex justify-center lg:justify-end w-full mt-3" style="opacity:0">
                <p id="excuses"
                   class="text-2xl text-gray-300"
                   _="init set $remainingExcuses to 4">
                    Excuses 4/4
                </p>
            </div>
        </div>
    </div>
{% endblock %}
