{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags %}

{% block content %}
    <div class="flex flex-col md:flex-row 2xl:mt-20">
        {# Hero #}
        <div class="min-w-[50%] hero-section md:h-auto flex flex-col justify-center items-center text-center p-6 prose">
            <h1 class="text-6xl text-gray-300 mb-5 2xl:mb-0 font-mono tracking-wider">
                Become a 10x engineer with
                <img src="{% static 'img/python-logo.png' %}" alt="Python Logo" class="inline-block w-16 h-16 my-0 mt-3 sm:mt-0 ml-2">
            </h1>
            <p class="text-2xl text-gray-300 mb-5 2xl:mb-3">
                Want to dominate the tech world? 🚀
            </p>
            <p class="text-2xl text-gray-300 mt-0 mb-3 2xl:mb-6">
                Become a <span class="text-yellow-500 font-bold">full-stack engineer</span> with me.
                Unleash your potential to craft <span class="text-blue-500 font-bold">insane web applications</span>
                in just 4 months.<br>
            </p>
            <button class="btn btn-outline border-gray-600 btn-lg text-3xl group hover:bg-gray-200 mt-6 2xl:mt-3">
                <span class="group-hover:hidden">Are you all in? <span id="thinking-emoji">🤔</span></span>
                <span class="hidden group-hover:block">Hell yea!!! <span id="fire-emoji">🔥</span></span>
            </button>
        </div>

        {# Interactive Chat box #}
        <div id="interactive-container"
             class="flex flex-col justify-center items-start w-full px-12 py-6"
             style="opacity: 0"
             _="init wait 0.5s then transition my opacity to 1
                then wait 1s then transition #chat-message-1's opacity to 1
                then wait 1s then transition #chat-message-2's opacity to 1
                then wait 1s then transition #chat-message-3's opacity to 1
                then wait 1s then transition #chat-box-inputs's opacity to 1
                then transition #excuses-container's opacity to 1"
        >

            <div id="chat-box-outer-container" class="border border-gray-600 bg-base-100 relative rounded-l-box rounded-tr-box w-full p-8 2xl:max-h-72 mb-4 overflow-y-hidden">
                <div id="chat-box-inner-container" class="flex min-h-[6rem] 2xl:max-h-[15rem] min-w-[18rem] max-w-4xl flex-wrap items-center gap-4 w-full overflow-y-scroll"
                _="init set my scrollTop to 0">
                    <div id="chat-box" class="w-full">
                        <div id="chat-message-1" class="chat chat-start" style="opacity:0">
                            <div class="chat-image avatar">
                                <div class="w-10 rounded-full">
                                    <img src="{% static 'img/giga-chad.jpeg' %}"  alt="Giga Chad"/>
                                </div>
                            </div>
                            <div class="chat-bubble chat-bubble-warning">
                                Hey, I'm Giga Chad. I'm a full-stack engineer and I'm here to help you become a 10x engineer.
                            </div>
                        </div>

                        <div id="chat-message-2" class="chat chat-end" style="opacity:0">
                            <div class="chat-image avatar">
                                <div class="w-10 rounded-full">
                                    <img src="{% static 'img/soyjack.png' %}"  alt="Soy Jack"/>
                                </div>
                            </div>
                            <div class="chat-bubble">
                                But... I'm not ready to become a 10x engineer... I'm not even a .5x engineer yet.
                            </div>
                        </div>

                        <div id="chat-message-3" class="chat chat-start" style="opacity:0">
                            <div class="chat-image avatar">
                                <div class="w-10 rounded-full">
                                    <img src="{% static 'img/giga-chad.jpeg' %}" alt="Giga Chad"/>
                                </div>
                            </div>
                            <div class="chat-bubble chat-bubble-warning">
                                Don't worry buddy. I'll teach you everything you need to know. What's your excuse not to become a 10x engineer?
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Chat box input #}
            <div id="chat-box-inputs" class="flex justify-center 2xl:justify-end w-full" style="opacity:0"
                 _="init set #excuses's excusesNumber to 3 then set global currentMessageId to 4">
                <button class="btn bg-base-100 me-1"
                        hx-post="{% url 'chat_response' %}"
                        hx-trigger="htmxRequest"
                        hx-target="#chat-box"
                        hx-swap="beforeend"
                        hx-vals="js:{message_content: 'I dont have enough time', message_id: currentMessageId}"
                        _="on click
                            trigger htmxRequest then
                            transition my opacity to 0
                            then increment $currentMessageId
                            then decrement #excuses's excusesNumber
                            then if #excuses's excusesNumber == 0 put '📸 🤨 No excuses left' into #excuses then remove #chat-box-inputs
                            else put `Excuses ` + it + `/3` into #excuses then remove me">
                    No Time
                </button>
                <button class="btn bg-base-100 me-1"
                        hx-post="{% url 'chat_response' %}"
                        hx-trigger="htmxRequest"
                        hx-target="#chat-box"
                        hx-swap="beforeend"
                        hx-vals="js:{message_content: 'I dont have any talent', message_id: currentMessageId}"
                        _="on click
                            trigger htmxRequest then
                            transition my opacity to 0
                            then increment $currentMessageId
                            then decrement #excuses's excusesNumber
                            then if #excuses's excusesNumber == 0 put '📸 🤨 No excuses left' into #excuses then remove #chat-box-inputs
                            else put `Excuses ` + it + `/3` into #excuses then remove me">
                    No Talent
                </button>
                <button class="btn bg-base-100"
                        hx-post="{% url 'chat_response' %}"
                        hx-trigger="htmxRequest"
                        hx-target="#chat-box"
                        hx-swap="beforeend"
                        hx-vals="js:{message_content: 'I dont have patience', message_id: currentMessageId}"
                        _="on click
                            trigger htmxRequest then
                            transition my opacity to 0
                            then increment $currentMessageId
                            then decrement #excuses's excusesNumber
                            then if #excuses's excusesNumber == 0 put '📸 🤨 No excuses left' into #excuses then remove #chat-box-inputs
                            else put `Excuses ` + it + `/3` into #excuses then remove me">
                    No Patience
                </button>
            </div>
            <div id="excuses-container" class="flex justify-center 2xl:justify-end w-full mt-3" style="opacity:0">
                <p id="excuses" class="text-2xl text-gray-300">Excuses 3/3</p>
            </div>
        </div>
    </div>
{% endblock %}
