{% extends "base.html" %}

{% load partials %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="mb-12 flex flex-col items-center gap-x-12 xl:flex-row">
        <div class="pt-6 w-full">
            <h1 class="pb-6 text-3xl font-extrabold leading-9 tracking-tight text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14 w-full">
                Hi, I am <span class="text-pink-500">Chris</span>
            </h1>
            <h2 class="prose pt-5 text-lg text-gray-300">
                {{ page.intro|richtext }}
            </h2>
        </div>

        <div class="flex items-center justify-center w-full">
            <div class="grid grid-cols-1 grid-rows-3 gap-8 py-12">

                <!-- Link to Blog -->
                <div class="my-2 grid items-start gap-8">
                    <div class="group relative">
                        <div class="animate-tilt absolute -inset-0.5 rounded-lg bg-gradient-to-r from-pink-600 to-purple-600 opacity-50 blur transition duration-1000 group-hover:opacity-100 group-hover:duration-200"></div>
                        <!-- Link -->
                        <a href="{% slugurl 'blog' %}"
                           class="special-underline-new no-underline hover:text-gray-100">
                            <span class="relative flex items-center divide-x divide-gray-600 rounded-lg px-7 py-4 leading-none bg-black">
                                <span class="flex items-center space-x-5">
                                    <!-- Icon -->
                                    <svg class="w-6 h-6 text-fuchsia-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 16.5c0-1-8-2.7-9-2V1.8c1-1 9 .707 9 1.706M10 16.5V3.506M10 16.5c0-1 8-2.7 9-2V1.8c-1-1-9 .707-9 1.706"/></svg>
                                    <!-- Text -->
                                    <span class="pr-6 text-gray-100">Read my articles</span>
                                </span>
                                <!-- Label & Arrow -->
                                <span class="pl-6 text-fuchsia-600 transition duration-200 group-hover:text-gray-100">Blog →</span>
                            </span>
                        </a>
                    </div>
                </div>

                <!-- Link to Projects -->
                <div class="my-2 grid items-start gap-8">
                    <div class="group relative">
                        <div class="animate-tilt absolute -inset-0.5 rounded-lg bg-gradient-to-r from-fuchsia-600 to-emerald-600 opacity-50 blur transition duration-1000 group-hover:opacity-100 group-hover:duration-200"></div>
                        <!-- Link -->
                        <a href="{% slugurl 'projects' %}"
                           class="special-underline-new no-underline hover:text-gray-100">
                            <span class="relative flex items-center divide-x divide-gray-600 rounded-lg px-7 py-4 leading-none bg-black">
                                <span class="flex items-center space-x-5">
                                    <!-- Icon -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 -rotate-6 text-emerald-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="--darkreader-inline-stroke: currentColor;" data-darkreader-inline-stroke=""><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z"></path></svg>
                                    <!-- Text -->
                                    <span class="pr-6 text-gray-100">What I Built</span>
                                </span>
                                <!-- Label & Arrow -->
                                <span class="pl-6 text-emerald-600 transition duration-200 group-hover:text-gray-100">Projects →</span>
                            </span>
                        </a>
                    </div>
                </div>

                <!-- Link to Resume -->
                <div class="my-2 grid items-start gap-8">
                    <div class="group relative">
                        <div class="animate-tilt absolute -inset-0.5 rounded-lg bg-gradient-to-r from-pink-600 to-purple-600 opacity-50 blur transition duration-1000 group-hover:opacity-100 group-hover:duration-200"></div>
                        <!-- Link -->
                        <a href="{% slugurl 'resume' %}"
                           class="special-underline-new no-underline hover:text-gray-100">
                            <span class="relative flex items-center divide-x divide-gray-600 rounded-lg px-7 py-4 leading-none bg-black">
                                <span class="flex items-center space-x-5">
                                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 -rotate-6 text-fuchsia-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="--darkreader-inline-stroke: currentColor;" data-darkreader-inline-stroke=""><path d="M12 14l9-5-9-5-9 5 9 5z"></path><path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"></path></svg>
                                  <span class="pr-6 text-gray-100">Hire me!</span>
                                </span>
                                <span class="pl-6 text-fuchsia-600 transition duration-200 group-hover:text-gray-100">Resume →</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if blog_posts %}
        <h2 class="flex pb-6 text-3xl font-extrabold tracking-tight text-gray-100 sm:text-3xl md:text-5xl">
            Latest
        </h2>
        <hr class="border-gray-700">
        <ul>
            {% for post in blog_posts %}
                <li hx-get="{{ post.url }}" class="group flex bg-transparent bg-opacity-20 py-6 px-2 transition duration-100 hover:scale-105 hover:rounded-xl hover:bg-gray-100 dark:hover:bg-gray-800 cursor-pointer">
                    <article>
                        <div class="space-y-2 bg-transparent bg-opacity-20 p-2 transition duration-200 hover:rounded-xl hover:bg-gray-100 dark:hover:bg-gray-800 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
                            <dl>
                                <dt class="sr-only">Published on</dt>
                                <dd class="text-sm font-normal leading-6 text-gray-500 dark:text-gray-400">
                                    <time datetime="{{ post.date }}">{{ post.date }}</time> •
                                    <span class="mx-1">{{ post.views }}</span>views
                                </dd>
                            </dl>
                            <div class="space-y-5 xl:col-span-4">
                                <div class="space-y-1">
                                    <div>
                                        <h2 class="text-2xl font-bold leading-8 tracking-tight">
                                            <div class="text-gray-900 transition duration-500 ease-in-out hover:text-primary-500 dark:text-gray-100 dark:hover:text-primary-500">
                                                {{ post.title }}
                                            </div>
                                        </h2>
                                    </div>
                                    <div class="flex flex-wrap">
                                        {% for tag in post.tags.all %}
                                            <a class="mt-2 mr-3 rounded-lg border border-primary-500 py-1 px-3 text-sm font-medium uppercase text-primary-500 transition duration-500 ease-in-out hover:bg-primary-500 hover:text-gray-100 dark:hover:text-gray-900" href="/tags/{{ tag.slug }}">
                                                {{ tag.name }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <div class="prose max-w-none pt-5 text-gray-500 dark:text-gray-400">
                                        {{ post.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
