{% extends 'modal_dialog.html' %}

{% block modal_content %}
  <h3 id="login-title" class="font-bold text-xl">
    Sign in to your account
  </h3>

  <form id="login-form"
        class="pt-6 pb-4"
        hx-post="{{ url("account_login") }}"
        hx-target="body"
        hx-swap="beforeend"
        {#
          If the login form has errors, HTMX will render them in a new modal dialog.
          Otherwise, if login is successful, hyperscript will reload the page.
        #}
        _="on htmx:beforeSwap from body
           if event.detail.pathInfo.responsePath is '/'
             set event.detail.shouldSwap to false
             reload() the location of the window
           end">
    {% from 'macros.jinja' import render_field, render_form_errors %}
    {# Render any form errors. #}
    {{ render_form_errors(form) }}
    {# Render the form fields. #}
    {{ render_field(form['login'], class='input input-bordered w-full mb-3', error_class='input-error') }}
    {{ render_field(form['password'], class='input input-bordered w-full mb-3', error_class='input-error') }}

    <div class="flex justify-between align-middle mt-2 mb-5">
      <label id="remember-me-label" class="cursor-pointer flex label-text">
        <input id="remember-me-input"
               class="checkbox me-2"
               type="checkbox"
               checked="checked" />
        Remember me
      </label>
      <a id="forgot-password-link"
         hx-get="{{ url("account_reset_password") }}"
         hx-target="body"
         hx-swap="beforeend"
         class="text-sm font-medium text-primary-content hover:underline hover:cursor-pointer">
        Forgot password?
      </a>
    </div>
    <button id="login-button" class="btn btn-warning w-full mb-5">
      Login
    </button>
    <p class="text-sm font-light text-warning-600 dark:text-primary-500">
      Don’t have an account yet?
      <a id="sign-up-link"
         hx-get="{{ url("account_signup") }}"
         hx-target="body"
         hx-swap="beforeend"
         class="font-medium text-primary-content hover:underline hover:cursor-pointer">
        Sign up
      </a>
    </p>
    <div class="divider">OR</div>

    {# Include the social login buttons. #}
    {% include 'users/partials/_continue_with_google_button.html' %}
    {% include 'users/partials/_continue_with_discord_button.html' %}
  </form>
{% endblock %}
