{% extends 'modal_dialog.html' %}

{% block modal_content %}
  <h3 id="password-reset-from-key-title" class="font-bold text-xl">
    {% if token_fail %}
      Bad Token
    {% else %}
      Change Password
    {% endif %}
  </h3>

  {% if token_fail %}
    <div id="token-failed-content" class="pt-6 pb-4">
      <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a
        <a id="new-password-reset-link"
           hx-get="{{ url('account_reset_password') }}"
           hx-target="body"
           hx-swap="beforeend"
           class="font-medium text-primary-content hover:underline hover:cursor-pointer">
          new password reset
        </a>.
      </p>
    </div>
  {% else %}
    <form id="password-reset-from-key-form"
          class="space pt-6 pb-4"
          hx-post="{{ action_url }}"
          hx-target="body"
          hx-swap="beforeend">
      {% from 'macros.jinja' import render_field, render_form_errors %}
      {#      Render any form errors.#}
      {{ render_form_errors(form) }}
      {#      Render the form fields.#}
      {{ render_field(form['password1'], class='input input-bordered w-full mb-3', error_class='input-error') }}
      {{ render_field(form['password2'], class='input input-bordered w-full mb-3', error_class='input-error') }}

      <button id="change-password-button" class="btn btn-warning w-full mt-2 mb-5">Change Password</button>

      <p class="text-sm font-light text-primary-600">
        Remembered your password?
        <a id="back-to-login-link"
           hx-get="{{ url('account_login') }}"
           hx-target="body"
           hx-swap="beforeend"
           class="font-medium text-primary-content hover:underline hover:cursor-pointer">Sign in</a>
      </p>
    </form>
  {% endif %}
{% endblock %}
