<h3 id="password-reset-done-title"
    class="font-bold text-xl">
    Password Reset
</h3>

<div id="password-reset-done-content"
      class="space pt-6 pb-4">

    {% if user.is_authenticated %}
    <!-- You can customize this snippet to match your style -->
    <p class="text-sm font-light text-primary-600">
        You are already logged in.
    </p>
    {% endif %}

    <p class="mb-5">
        Hey chief,
        I just emailed a link to reset your password.
        If you don't see the email, check your spam folder.
    </p>

    <p class="text-sm font-light text-primary-600 dark:text-primary-500">
        Want to try signing in again?
        <a id="back-to-login-link"
           href="{{ url('account_login') }}"
           hx-target="#modal-content"
           class="font-medium text-primary-content hover:underline hover:cursor-pointer">
            Sign in
        </a>
    </p>
</div>
