{% extends 'modal_dialog.html' %}

{% block modal_content %}
  <h3 id="password-reset-title" class="font-bold text-xl">
    Reset Your Password
  </h3>

  <form id="password-reset-form"
        class="space pt-6 pb-4"
        hx-post="{{ url("account_reset_password") }}"
        hx-target="body"
        hx-swap="beforeend">
    {% from 'macros.jinja' import render_field, render_form_errors %}
    {# Include the form errors at the top of the form. #}
    {{ render_form_errors(form) }}
    {# Render the form fields. #}
    {{ render_field(form['email'], class='input input-bordered w-full mb-5', error_class='input-error') }}

    <button id="reset-password-button" class="btn btn-warning w-full mb-5">
      Send Reset Link
    </button>
    <p class="text-sm font-light text-primary-600">
      Remembered your password?
      <a id="back-to-login-link"
         href="{{ url("account_login") }}"
         hx-target="body"
         hx-swap="beforeend"
         class="font-medium text-primary-content hover:underline hover:cursor-pointer">
        Sign in
      </a>
    </p>
  </form>
{% endblock %}
