{% extends 'modal_dialog.html' %}

{% block modal_content %}
  <h3 id="password-reset-done-title" class="font-bold text-xl">
    Password Reset
  </h3>

  <div id="password-reset-done-content" class="pt-6 pb-4">
    {% if user.is_authenticated %}
      <p class="text-sm font-light text-primary-600">
        You are already logged in.
      </p>
    {% endif %}
    <p class="mb-5">
      Hey chief,
      I just emailed a link to reset your password.
      If you don't see the email, check your spam folder.
    </p>
    <p class="text-sm font-light">
      Want to try signing in again?
      <a id="back-to-login-link"
         hx-get="{{ url("account_login") }}"
         hx-target="body"
         hx-swap="beforeend"
         class="font-medium text-primary-content hover:underline hover:cursor-pointer">
        Sign in
      </a>
    </p>
  </div>
{% endblock %}
