<h2 class="text-3xl md:text-4xl lg:text-5xl mb-4">The first module is finally here! 🔥</h2>
<span class="text-lg md:text-xl lg:text-2xl mb-4 lg:mb-8 prose">Press the golden card to check it out!</span>
<div class="flex justify-center mb-4 lg:mb-8">{{ svg('long_arrow_down', css_classes='w-6 h-6') }}</div>
<a href="{{ first_chapter_url }}" class="hover:scale-105 transition-transform ease-in-out duration-500" _="on mouseover add .shadow-inner-golden to
  <body/>
  end on mouseout or htmx:afterOnLoad remove .shadow-inner-golden from
  <body/>
  end" hx-swap="multi:#content" preload>{% include 'home/partials/_golden_card.html' %}</a>
<p class="mt-6 md:mt-8 lg:mt-12">
  <i>Note: It also contains some <b class="text-warning">free bonuses</b>. Don't miss them!</i>
</p>
