{# user_macros.jinja #}

{% macro avatar(user) %}
    {#
    Return the avatar URL from the social account if it exists,
    otherwise return a default image.
    #}
    {% if user.is_authenticated %}
        {% set social_account = get_social_accounts(user)|first %}
        {% if social_account is defined and social_account.get_avatar_url() %}
            {{ social_account.get_avatar_url() }}
        {% else %}
            {{ static('img/aspiring-giga-chad.jpeg') }}
        {% endif %}
    {% else %}
        {{ static('img/aspiring-giga-chad.jpeg') }}
    {% endif %}
{% endmacro %}
