{% extends 'base.html' %}

{% block content %}
  <div class="drawer lg:drawer-open">
    <input id="drawer" type="checkbox" class="drawer-toggle" />

    <div class="drawer-content mx-auto lg:ps-12 xl:ps-0">
      <div id="section" class="prose container max-w-3xl">
        <div id="section-header" class="flex justify-between items-center">
          {% block section_header %}
          {% endblock %}
        </div>
        <div id="section-content">
          {% block section_content  %}
          {% endblock %}
        </div>
      </div>
    </div>

    <div class="drawer-side lg:top-20 z-20">
      <label for="drawer" class="drawer-overlay"></label>
      {% block chapters_menu %}
        {% include 'course/partials/_chapters_menu.html' %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
