.Typewriter__cursor {
  -webkit-animation:Typewriter-cursor 1s infinite;
  animation:Typewriter-cursor 1s infinite;
  margin-left:1px
}
@-webkit-keyframes Typewriter-cursor {
  0% {
    opacity:0
  }
  50% {
    opacity:1
  }
  100% {
    opacity:0
  }
}
@keyframes Typewriter-cursor {
  0% {
    opacity:0
  }
  50% {
    opacity:1
  }
  100% {
    opacity:0
  }
}
