<h3 id="signup-title"
    class="font-bold text-xl">
    Create your account
</h3>

<form id="signup-form"
      class="space pt-6 pb-4"
      action="{% url 'signup' %}"
      method="POST">

    {% csrf_token %}

    <input id="signup-email-input"
           type="text"
           placeholder="Email here"
           class="input input-bordered w-full mb-5" />

    <input id="signup-password-input"
           type="password"
           placeholder="Password here"
           class="input input-bordered w-full mb-5" />

    <input id="confirm-password-input"
           type="password"
           placeholder="Confirm Password"
           class="input input-bordered w-full mb-5" />

    <div class="flex justify-between align-middle mb-5">

        <label id="subscribe-newsletter-label"
               class="cursor-pointer flex label-text">
            <input id="subscribe-newsletter-input"
                   class="checkbox me-2"
                   type="checkbox" />
            Subscribe to newsletter
        </label>

        <a id="already-have-account-link"
           hx-get="{% url 'login' %}"
           hx-target="#modal-content"
           class="text-sm font-medium text-primary-content hover:underline hover:cursor-pointer">
            Already have an account?
        </a>
    </div>

    <button id="signup-button"
            class="btn btn-warning w-full mb-5">
        Sign Up
    </button>

    <p class="text-sm font-light text-primary-600 dark:text-primary-500">
        By signing up, you agree to our
        <a id="terms-link"
           href="#"
           class="font-medium text-primary-content hover:underline">
            Terms
        </a> and
        <a id="privacy-policy-link"
           href="#"
           class="font-medium text-primary-content hover:underline">
            Privacy Policy
        </a>.
    </p>

    <div class="divider">OR</div>

    <button id="google-signup-button"
            class="btn btn-ghost w-full border border-slate-200">
        <img class="w-6 h-6"
             src="https://www.svgrepo.com/show/475656/google-color.svg"
             loading="lazy"
             alt="google logo">
        <span>Sign Up with Google</span>
    </button>
</form>
