<div id="chat-container" class="flex flex-wrap items-start justify-start w-full max-lg:min-h-[20rem] max-lg:max-h-[35rem] lg:h-[20rem] p-8 mb-3 lg:mt-12 gap-4 overflow-y-auto rounded-l-box rounded-tr-box max-lg:rounded-r-box bg-base-100/40 border border-base-100 relative"
     _="init
          set my scrollTop to 0
        end
        on intersection
          transition #giga-chad-initial-message's opacity to 1
          transition #user-initial-message's opacity to 1
          transition #chat-response-buttons-container's opacity to 1
          transition #excuses-container's opacity to 1
        end">
  {# Interactive Chat Box #}
<div id="chat-interaction" class="w-full">
  {% from 'macros.jinja' import chat_message, chat_loading %}
  {% set chat_messages = [
      {"message": "Hey chief. I'm here to help you become a 10x engineer.", "avatar": static("img/avatar-10x-giga-chad.webp"), "side": "start", "id": "giga-chad-initial-message"},
      {"message": "I'm not ready to become a 10x engineer...", "avatar": avatar_url(user), "side": "end", "id": "user-initial-message"}
  ] %}
  {% for chat in chat_messages %}
    {{ chat_message(chat.message, chat.avatar, chat.side, chat.id, style="opacity: 0") }}
  {% endfor %}
</div>
</div>

{# Chat box input #}
<div id="chat-response-buttons-container" class="flex w-full gap-0.5 justify-center" style="opacity:0"
     _="on htmx:afterSettle(detail) from #chat-interaction
          if detail.pathInfo.requestPath contains '{{ url('fetch_gigachad_gpt_response') }}'
              for button in my children remove @disabled from button">

  {# Iterate over the chat_options from the context #}
  {% for option in chat_options %}
    <button class="btn btn-ghost"
            _="on click
                 set <#chat-response-buttons-container > button/>'s @disabled to true
                 append `{{ chat_message(option.content, avatar_url(user), side='end')|forceescape }}` to #chat-interaction
                 set #chat-container's scrollTop to #chat-container's scrollHeight
                 wait 0.5s
                 append `{{ chat_loading(img_src=static('img/avatar-10x-giga-chad.webp'), id='gigachad-message-to-replace')|forceescape }}` to #chat-interaction
                 set #chat-container's scrollTop to #chat-container's scrollHeight
                 trigger requestGigaChadResponse
                 wait for htmx:afterSettle from body
                 remove me
                 decrement $remainingExcuses
                 if $remainingExcuses == 0
                   put '📸 🤨 No excuses left' into #excuses
                 else
                   put `Excuses ${$remainingExcuses}/3` into #excuses
                 end
               end"
            hx-get="{{ url("fetch_gigachad_gpt_response") }}"
            hx-target="#gigachad-message-to-replace"
            hx-trigger="requestGigaChadResponse"
            hx-vals="js:{message_content: '{{ option.content }}'}"
            hx-swap="outerHTML scroll:#chat-container:bottom">
      <span>{{ option.icon }}</span>
      {{ option.label }}
    </button>
  {% endfor %}
</div>

{# Excuses #}
<div id="excuses-container" class="flex w-full mt-3 justify-center" style="opacity:0">
  <p id="excuses"
     class="text-lg text-gray-400"
     _="init set $remainingExcuses to 3">
    Excuses 3/3
  </p>
</div>
