<a href="#news" class="flex flex-col justify-center items-center mt-8 animate-bounce"
  _="init wait 1s then go to the bottom of me">
  <h2 class="text-2xl md:text-3xl mb-6 md:mb-8">Huge news! 🙏</h2>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
       class="w-5 h-5 md:w-8 md:h-8">
    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5" />
  </svg>
</a>

<div id="news" class="h-screen grid place-content-center text-center">
  <h2 class="text-3xl md:text-4xl lg:text-5xl mb-4">
    The first module is finally here! 🔥
  </h2>
  <span class="text-lg md:text-xl lg:text-2xl mb-4 lg:mb-8 prose">
    Press the golden card to check it out!
  </span>
  <div class="flex justify-center mb-4 lg:mb-8">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25L12 21m0 0l-3.75-3.75M12 21V3" />
    </svg>
  </div>

  <a href="{{ slugurl('the-beginning') }}"
     class="hover:scale-105 transition-transform ease-in-out duration-500"
     _="on mouseover add .inner-golden-shadow to <body/> end
        on mouseout remove .inner-golden-shadow from <body/> end
        {# This is to prevent the shadow remaining after the user clicks the card #}
        on htmx:afterOnLoad remove .inner-golden-shadow from <body/> end"
      preload>
    {% include 'home/partials/_golden_card.html' %}
  </a>

  <p class="mt-6 md:mt-8 lg:mt-12">
    <i>Note: It also contains some <b class="text-warning">free bonuses</b>. Don't miss them!</i>
  </p>
</div>

