{% set current_url = request.get_full_path() %}
<ul id="chapters-menu" class="menu h-screen w-full bg-base-100/60 text-base-content border backdrop-blur border-base-100 lg:h-auto lg:bg-base-100/40 lg:w-80 lg:card mt-16 lg:mt-8">

  {# Iterating through each chapter #}
  {% for chapter_obj in all_chapters %}

    <li>
      {# Chapter Toggle Button #}
      <div id="chapter-toggle-{{ chapter_obj.slug }}" class="menu-dropdown-toggle text-xl py-1 xl:py-2{% if chapter_obj.url in current_url %} menu-dropdown-show{% endif %}"
           _="on click toggle .menu-dropdown-show on me then toggle .menu-dropdown-show on the next <ul.menu-dropdown/>">
        <div class="flex justify-between">
          <span class="font-bold tracking-wider">{{ chapter_obj.title }}</span>
          <span class="ms-2">{{ chapter_obj.icon }}</span>
        </div>
      </div>
      {# Sections Dropdown #}
      <ul id="sections-dropdown-{{ chapter_obj.slug }}" class="menu-dropdown{% if chapter_obj.url in current_url %} menu-dropdown-show{% endif %}">
        {% for section_obj in chapter_obj.sections.all() %}

          <li id="item-section-{{ section_obj.order }}" class="text-lg py-0.5 xl:py-1">
            {% set section_url = chapter_obj.url ~ '?page=' ~ section_obj.order %}
            <a href="{{ section_url }}"
               {% if section_url in current_url or (chapter_obj.url in current_url and "page=" not in current_url and section_obj.order == 1) %} class="active" {% endif %}
               hx-swap="multi:#content,#progress-bar:outerHTML"
               preload>
              <span>{{ section_obj.order }}. {{ section_obj.title }}</span>
            </a>
          </li>

        {% endfor %}
      </ul>
    </li>

  {% endfor %}
</ul>
