<a class="{{ classes }}"
  {% if paginated_sections.has_previous() %}
   href="?page={{ paginated_sections.previous_page_number() }}"
  {% elif prev_chapter %}
   href="{{ prev_chapter.url }}?page={{ prev_chapter.sections.count() }}"  {# last page of previous chapter #}
  {% else %}
   disabled
  {% endif %}
   hx-swap="multi:#content,#progress-bar:outerHTML"
   preload>
  {{ svg('chevron_left', css_classes="w-6 h-6") }}
  {% if include_labels %}Previous{% endif %}
</a>
<a class="{{ classes }}"
  {% if paginated_sections.has_next() %}
   href="?page={{ paginated_sections.next_page_number() }}"
  {% elif next_chapter %}
   href="{{ next_chapter.url }}?page=1"  {# first page of next chapter #}
  {% else %}
   disabled
  {% endif %}
   hx-swap="multi:#content,#progress-bar:outerHTML"
   preload>
  {% if include_labels %}Next{% endif %}
  {{ svg('chevron_right', css_classes="w-6 h-6") }}
</a>
