<div class="modal-box">
    <h3 id="login-title"
        class="font-bold text-xl">
        Sign in to your account
    </h3>

    <form id="login-form"
          class="space pt-6 pb-4"
          action="#">

        <input id="email-input"
               type="text"
               placeholder="Email here"
               class="input input-bordered w-full mb-5" />

        <input id="password-input"
               type="password"
               placeholder="Password here"
               class="input input-bordered w-full mb-5" />

        <div class="flex justify-between align-middle mb-5">

            <label id="remember-me-label"
                   class="cursor-pointer flex label-text">
                <input id="remember-me-input"
                       class="checkbox me-2"
                       type="checkbox"
                       checked="checked" />
                Remember me
            </label>

            <a id="forgot-password-link"
               href="#"
               class="text-sm font-medium text-primary-content hover:underline">
                Forgot password?
            </a>
        </div>

        <button id="login-button"
                class="btn btn-warning w-full mb-5">
            Login
        </button>

        <p class="text-sm font-light text-primary-600 dark:text-primary-500">
            Don’t have an account yet?
            <a id="sign-up-link"
               href="#"
               class="font-medium text-primary-content hover:underline">
                Sign up
            </a>
        </p>

        <div class="divider">OR</div>

        <button id="google-login-button"
                class="btn btn-ghost w-full border border-slate-200">
            <img class="w-6 h-6"
                 src="https://www.svgrepo.com/show/475656/google-color.svg"
                 loading="lazy"
                 alt="google logo">
            <span>Login with Google</span>
        </button>
    </form>
</div>