<div class="modal-box">
    <h3 id="password-reset-title"
        class="font-bold text-xl">
        Reset Your Password
    </h3>

    <form id="password-reset-form"
          class="space pt-6 pb-4"
          action="#">

        <input id="reset-email-input"
               type="text"
               placeholder="Enter your email here"
               class="input input-bordered w-full mb-5" />

        <button id="reset-password-button"
                class="btn btn-warning w-full mb-5">
            Send Reset Link
        </button>

        <p class="text-sm font-light text-primary-600 dark:text-primary-500">
            Remembered your password?
            <a id="back-to-login-link"
               href="#"
               class="font-medium text-primary-content hover:underline">
                Sign in
            </a>
        </p>
    </form>
</div>
