@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply container mx-auto px-12 mt-2 md:mt-4 lg:mt-6
  }
  hr, .prose:where(hr) {
    @apply border-base-100 !important
  }
  .prose img {
    @apply rounded-3xl
  }
}

@layer components {
  .sticky-navbar {
    @apply sticky navbar container mx-auto px-8 lg:px-12 top-0 z-30 min-w-full
  }
  .steps .step {
    @apply min-w-[2rem] lg:min-w-[3rem]
  }
  .steps .step::after {
    @apply w-4 h-4
  }
  .btn-glassy {
    @apply bg-base-100/70 backdrop-blur border border-gray-700 hover:bg-base-content/10 hover:border-gray-500
  }
}

@layer utilities {
  .bg-custom-gradient {
    background-image: linear-gradient(176deg, rgb(18, 24, 27) 50%, rgb(32, 39, 55) 100%);
  }
  .shadow-golden {
    box-shadow: 0 0 5px #FBBD23, 0 0 25px #FBBD23, 0 0 50px #FBBD23, 0 0 100px;
  }
  .shadow-inner-golden {
    box-shadow: inset -100px 0 100px -100px #FBBD23, inset 100px 0 100px -100px #FBBD23;
  }
  .border-section-progress {
    @apply border-b border-gray-700 border-opacity-80 absolute bottom-[-1px] left-0 right-0 z-10 ;
  }
}
