@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    min-height: 100vh;
    background: linear-gradient(176deg, rgb(18, 24, 27) 50%, rgb(32, 39, 55) 100%) fixed;
}

.hero-section {
    height: calc(100vh - 80px)
}

.boxshadow {
    box-shadow: 0 0 5px #FBBD23,
    0 0 25px #FBBD23,
    0 0 50px #FBBD23,
    0 0 100px
}

#hell-yea-button:hover {
    @apply boxshadow bg-[#1c1917] text-[#d6d3d1]
}