@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    min-height: 100vh;
    background: linear-gradient(176deg, rgb(18, 24, 27) 50%, rgb(32, 39, 55) 100%) fixed;
}

.hero-section {
    height: calc(100vh - 125px)
}