{% extends "base.html" %}

{% block content %}
  <div class="flex flex-col lg:flex-row items-center justify-center mt-8 sm:mt-16 md:mt-20 lg:mt-24 xl:mt-28">
    <div id="hero-section" class="flex flex-col items-center justify-center min-w-[50%] flex-grow lg:h-auto mb-6 sm:mb-0 p-6 text-center prose">
      <div class="flex flex-col items-center sm:flex-row sm:mb-3">
        <img src="{{ static('img/python-logo.webp') }}" alt="Python Logo" class="w-16 h-16 mb-3 m-0 sm:mb-0 sm:me-4">

        <div class="flex flex-col justify-start">
          <h1 class="text-5xl text-gray-300 font-mono tracking-wide xl:tracking-wider mb-0 lg:whitespace-nowrap">
            The Pyoneer Project
          </h1>
          <span class="text-xl text-center sm:text-start">For the ambitious, by the ambitious</span>
        </div>
      </div>

      <p class="text-2xl text-gray-300 2xl:my-6">
        Learn Full-Stack Python & Django the way I wish I had.
      </p>

      <span class="sm:mt-3 mb-3">You won't get these tips from ChatGPT</span>
      <div class="flex items-center justify-around mt-3">
        {% include 'home/partials/_obnoxious_button.html' %}
      </div>
      <span id="hidden-message" class="mt-3" style="opacity: 0">
        I want to work with persistent people like you.
      </span>
    </div>

    <div id="chat-section" class="flex flex-col justify-center items-start p-6">
      {% include 'home/partials/_chat.html' %}
    </div>
  </div>

  <a href="#news-section" class="flex flex-col justify-center items-center mt-20 xl:mt-32 animate-bounce">
    {% if is_course_released %}

      <h2 class="text-xl md:text-2xl mb-4 md:mb-6">
        Huge news! 🙏
      </h2>

    {% else %}

      <h2 class="text-xl md:text-2xl mb-4 md:mb-6">
        Guess what? 🤔
      </h2>

    {% endif %}
    {{ svg('svg/chevron_down.svg', css_classes='w-5 h-5 md:w-6 md:h-6') }}
  </a>

  <div id="news-section" class="h-screen grid place-content-center text-center py-6">
    {% if is_course_released %}

      <h2 class="text-3xl md:text-4xl lg:text-5xl mb-4">
        The first module is finally here! 🔥
      </h2>
      <span class="text-lg md:text-xl lg:text-2xl mb-4 lg:mb-8 prose">
        Press the golden card to check it out!
      </span>
      <div class="flex justify-center mb-4 lg:mb-8">
        {{ svg('svg/long_arrow_down.svg', css_classes='w-6 h-6') }}
      </div>
      <a href="{{ first_chapter_url }}"
         class="hover:scale-105 transition-transform ease-in-out duration-500"
         hx-swap="multi:#content"
         preload
         _="on mouseover add .shadow-inner-golden to <body/> end
          on mouseout or htmx:afterOnLoad remove .shadow-inner-golden from <body/> end">
        {% include 'home/partials/_golden_card.html' %}
      </a>
      <p class="mt-6 md:mt-8 lg:mt-12">
        <i>Note: It also contains some <b class="text-warning">free bonuses</b>. Don't miss them!</i>
      </p>

    {% else %}

      <div class="flex flex-col justify-center items-center">
        <h2 class="text-3xl md:text-4xl lg:text-5xl mb-12">
          The first module is coming soon. 😎
          <p class="text-sm mt-3">
            The launch date has been delayed by 2 days, to <b>24th October</b>. In return...
          </p>
        </h2>
        <div id="countdown" class="grid grid-flow-col gap-6 text-center auto-cols-max mb-12"
             _="init immediately
                  make Date from '{{ launch_date }}' called launch_date
                  make Date called now

                  set distance to launch_date.getTime() - now.getTime()
                  js(distance)
                    return {
                      days_left: Math.floor(distance / (1000 * 60 * 60 * 24)),
                      hours_left: Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)),
                      minutes_left: Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)),
                      seconds_left: Math.floor((distance % (1000 * 60)) / 1000)
                    }
                  end
                  set $days_left to it's days_left
                  set $hours_left to it's hours_left
                  set $minutes_left to it's minutes_left
                  set $seconds_left to it's seconds_left

                  repeat forever
                    wait 1s
                    decrement $seconds_left
                    if $seconds_left == -1
                      set $seconds_left to 59
                      decrement $minutes_left
                    end
                    if $minutes_left == -1
                      set $minutes_left to 59
                      decrement $hours_left
                    end
                    if $hours_left == -1
                      set $hours_left to 23
                      decrement $days_left
                    end
                    if $days_left < 0
                      break
                    end
                    set .days-left.style to `--value: ${$days_left};`
                    set .hours-left.style to `--value: ${$hours_left};`
                    set .minutes-left.style to `--value: ${$minutes_left};`
                    set .seconds-left.style to `--value: ${$seconds_left};`
                  end">
          <div class="flex flex-col p-2 bg-base-100/40 border border-base-100 rounded-box text-neutral-content">
            <span class="countdown text-5xl">
              <span class="days-left" style="--value:0;"></span>
            </span>
            days
          </div>
          <div class="flex flex-col p-2 bg-base-100/40 border border-base-100 rounded-box text-neutral-content">
            <span class="countdown text-5xl">
              <span class="hours-left" style="--value:0;"></span>
            </span>
            hours
          </div>
          <div class="flex flex-col p-2 bg-base-100/40 border border-base-100 rounded-box text-neutral-content">
            <span class="countdown text-5xl">
              <span class="minutes-left" style="--value:0;"></span>
            </span>
            min
          </div>
          <div class="flex flex-col p-2 bg-base-100/40 border border-base-100 rounded-box text-neutral-content">
            <span class="countdown text-5xl">
              <span class="seconds-left" style="--value:0;"></span>
            </span>
            sec
          </div>
        </div>
                   <p class="text-xl mb-3">
                     <b class="uppercase">Everyone</b> who joins will get the <b class="text-amber-400">Golden Card</b> with free bonuses!
           </p>
        <p class="text-lg line-through mb-3">
          First 10 to join get a <b class="text-amber-400">Golden Card</b> with free bonuses.
        </p>
      </div>

    {% endif %}
  </div>
{% endblock %}
