<a href="#news" class="animate-bounce flex flex-col justify-center items-center mt-8 lg:mt-12">
  <h2 class="text-4xl mb-6">Huge news! 🙏</h2>
  <span class="text-5xl block">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5" />
    </svg>
  </span>
</a>

<div id="news" class="h-screen grid place-content-center text-center relative">
  <h2 class="text-5xl mb-8 lg:mb-16">The first module is finally here! 🔥</h2>
  <div class="card border border-zinc-900 bg-[radial-gradient(ellipse_at_top_right,_var(--tw-gradient-stops))] from-amber-900 to-yellow-300 text-start">
    <div class="card-body text-xl text-zinc-900">
      <h2 class="card-title font-mono tracking-wide text-4xl mb-3">
        Module #1: The Golden Chapter
      </h2>
      <p>
        This introductory chapter lays it all out for you:
      </p>
      <ul class="list-disc list-inside">
        <li><b>What</b> you can expect from this course</li>
        <li><b>Who</b> it's for</li>
        <li><b>Why</b> I created it</li>
        <li><b>How</b> you can get the most out of it</li>
        <li><b>An outline</b> of the following chapters</li>
        <li><b>When</b> you can expect the next module</li>
        <li class="text-2xl uppercase mt-4"><b>My big offer</b> for you</li>
      </ul>
      <div class="card-actions justify-end mt-4">
        <button id="access-button" class="btn bg-neutral-900 text-warning hover:scale-105 transition-transform ease-in-out duration-500">
          Claim Access
        </button>
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            const button = document.querySelector('#access-button');
            const mainContainer = document.getElementById('main');

            button.addEventListener('mouseover', () => {
              mainContainer.classList.add('inner-golden-shadow');
            });

            button.addEventListener('mouseout', () => {
              mainContainer.classList.remove('inner-golden-shadow');
            });
          });

        </script>
      </div>
    </div>
  </div>

  <p class="mt-2 lg:mt-8">
    <i>
      Note: I've included some <b class="text-warning">free bonuses</b> in this module. Don't miss them!
    </i>
  </p>
</div>

