  <a href="{{ slugurl('the-beginning') }}" class="text-xs leading-5 font-medium text-warning bg-warning-content rounded-full py-1 px-3 flex items-center hover:bg-warning/20">
    <strong class="font-semibold">First Module Released</strong>
    <svg width="2" height="2" fill="currentColor" class="ml-2 text-warning">
      <circle cx="1" cy="1" r="1"></circle></svg>
    <span class="ml-2 hidden xl:inline">Check it out here.</span>
    <svg width="3" height="6" class="ml-3 overflow-visible text-warning">
      <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </a>
