<div id="user-avatar" class="flex flex-col justify-center items-center">
  <div id="avatar-wrapper" class="avatar online block mb-1">
    <div class="rounded-full w-12">
      <a hx-get="{{ url('users:detail', pk=user.pk) }}"
        hx-target="#modal-content"
        class="cursor-pointer"
        {# This is to wait for the modal content to be replaced by HTMX before showing it.#}
        _="on click wait for htmx:afterSettle from body then call modal_dialog.showModal()">
        <img id="avatar" src="{{ avatar(user) }}" />
      </a>
    </div>
  </div>
</div>
