{% if user.is_authenticated and get_social_accounts(user) %}
  {% set social_account = get_social_accounts(user)|first %}
{% endif %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth dark" style="color-scheme: dark" data-theme="dark">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-X2R59EPRQE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-X2R59EPRQE');
  </script>

  <meta charset="utf-8" />
  <link rel="icon" href="{{ static('img/favicon.webp') }}">
  <title>
    {% block title %}
      {% if page %}
        {% if page.seo_title %}
          {{ page.seo_title }}
        {% else %}
          {{ page.title }}
        {% endif %}
      {% else %}
        Your Path to Full Stack Python
      {% endif %}
    {% endblock %}
    {% block title_suffix %}
      | The Pyoneer Project
    {% endblock %}
  </title>
  {% if page and page.search_description %}
    <meta name="description" content="{{ page.search_description }}" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {# Force all links in the live preview panel to be opened in a new tab #}
  {% if request.in_preview_panel %}
    <base target="_blank">
  {% endif %}

  {# HTMX #}
  <script defer src="{{ static('js/htmx.min.js') }}"></script>
  <script defer src="{{ static('js/preload.js') }}"></script>
  <script defer src="{{ static('js/multi-swap.js') }}"></script>

  {# Django HTMX #}
  {{ django_htmx_script() }}

  {# Hyperscript #}
  <script defer src="{{ static('js/_hyperscript.min.js') }}"></script>

  {# TailwindCSS #}
  <link rel="stylesheet" type="text/css" href="{{ static('css/output.css') }}">

  {# Google Fonts #}
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

  {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>

<body class="bg-custom-gradient bg-fixed min-h-screen antialiased transition ease-in-out duration-200 {% block body_class %}{% endblock %}"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      hx-boost="true"
      hx-ext="preload,multi-swap"
  {# This makes sure that modal dialogs never overlap #}
      _="on mutation
          if <dialog.modal/>'s length is greater than 1
            remove first from <dialog.modal/>">

{# Site navigation #}
<nav id="navbar" class="sticky-navbar bg-custom-gradient bg-opacity-90 bg-fixed backdrop-blur border-b border-base-100 flex justify-between">
  {% block top_navbar %}
    <!-- Site Logo -->
    <a id="logo"
       class="btn btn-ghost lowercase text-lg font-bold"
       href="{{ url('home') }}"
       hx-swap="multi:#content"
       hx-boost="false"
       preload>
      ~/pyoneers.dev/
    </a>

    <div class="flex justify-end items-center">
      <!-- Discord Members -->
      <div id="discord-members-group"
           class="avatar-group -space-x-6 me-2 min-w-[80px]"
           hx-get="{{ url("fetch_discord_members") }}"
           hx-swap="innerHTML"
           hx-trigger="load">
      </div>
      <!-- Discord Invite -->
      <a id="discord-invite-link"
         class="discord-logo-container btn max-lg:btn-circle btn-ghost hover:bg-[#3a45b7] text-base-content hover:text-white me-2"
         href="https://discord.gg/TSMacaF9SG"
         target="_blank"
         _="init if screen.width < 1024px repeat forever toggle .animated wait 2s">
        <span class="flex justify-center items-center flex-nowrap">
          {% from 'macros.jinja' import discord_animated_svg %}
          {{ discord_animated_svg(size=35) }}
          <span class="ml-2 hidden lg:flex">Discord Server</span>
        </span>
      </a>
      {% if user.is_authenticated %}
        <!-- Logged-in User's Avatar -->
        <div id="user-avatar" class="flex flex-col justify-center items-center">
          <div id="avatar-wrapper" class="avatar online block mb-1">
            <div class="rounded-full w-10">
              <a hx-get="{{ url('users:detail', pk=user.pk) }}"
                 hx-target="body"
                 hx-swap="beforeend"
                 preload
                 class="cursor-pointer">
                <img id="avatar" src="{{ avatar_url(user) }}"/>
              </a>
            </div>
          </div>
        </div>
      {% else %}
        <!-- Login Button -->
        <a id="login-button"
           hx-get="{{ url('account_login') }}"
           hx-target="body"
           hx-swap="beforeend"
           preload
           class="btn btn-ghost max-lg:btn-circle">
          <!-- Login Icon -->
          {{ svg('svg/login.svg', css_classes='w-5 h-5 lg:me-3') }}
          <!-- Login Text (Desktop) -->
          <span class="hidden lg:inline-block">
            Login
          </span>
        </a>
      {% endif %}
    </div>
  {% endblock %}
</nav>

<main id="content">
  {% block content %}
  {% endblock %}
</main>

<footer id="footer" class="container mx-auto text-base-content text-center p-8 mt-12">
  <!-- Useful Links -->
  <div class="flex justify-center items-center pt-3">

    <!-- Github -->
    <a href="https://github.com/scriptogre" target="_blank" class="group">
      <i class="w-5 inline-block mx-2"
         _="init immediately add .group-hover:fill-gray-100 to <path/> in me">
        {{ svg('svg/github.svg') }}
      </i>
    </a>

    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/in/christian-tanul-94333a17a/" target="_blank" class="group">
      <i class="w-5 inline-block mx-2"
         _="init immediately add .group-hover:fill-gray-100 to <path/> in me">
        {{ svg('svg/linkedin.svg') }}
      </i>
    </a>

  </div>

  <div class="text-xs pt-3">
    Copyright ©  2023 Scriptogre LLC <br>
  </div>
</footer>


<dialog id="modal-loader-from-url-params"
        _="init
             {# Get the url query parameters #}
             make URLSearchParams from window.location.search called params

             if params.has('modal_url')
               {# Save the value of the `modal_url` parameter #}
               set modal_url to params.get('modal_url')

               {# Remove `modal_url` query parameter from the URL #}
               call params.delete('modal_url')

               {# Construct the new URL #}
               make URL from window.location called newUrl
               set newUrl.search to params

               {# Replace the current URL with the new URL #}
               call history.replaceState({}, '', newUrl.toString())

               {# Make a htmx request to get the modal content #}
               call htmx.ajax('GET', modal_url, {swap: 'outerHTML', target: me})
             end
             remove me">
</dialog>
</body>
</html>
