{% extends "base.html" %}

{% block content %}
    <div class="flex flex-col lg:flex-row items-center justify-center lg:mt-12">
        <div class="flex flex-col items-center justify-center min-w-[50%] flex-grow lg:h-auto p-6 text-center prose mb-5 sm:mb-0">
            <div class="flex flex-col items-center sm:flex-row sm:mb-3">
                <img src="{{ static('img/python-logo.webp') }}" alt="Python Logo" class="w-16 h-16 mb-3 sm:mb-0 my-0 me-4">

                <div class="flex flex-col justify-start">
                    <h1 class="text-5xl text-gray-300 font-mono tracking-wider mb-0">
                        The Pyoneer Project
                    </h1>
                    <span class="text-xl text-center sm:text-start">For the ambitious, by the ambitious</span>
                </div>
            </div>

            <p class="text-2xl text-gray-300 2xl:my-6">
                Learn Full-Stack Python & Django the way I wish I had.
            </p>

            <span class="sm:mt-3 mb-3">You won't get these tips from ChatGPT</span>
            <a id="discord-invite"
               class="btn btn-wide btn-lg bg-[#4752C5] hover:bg-[#3a45b7] text-slate-100 mb-3 discord-logo-container"
               href="https://discord.gg/bXxa6nHd"
               target="_blank">
                <span class="flex justify-center items-center flex-nowrap">
                    Join Discord?
                    {% include 'home/partials/_animated_discord_svg.html' %}
                </span>
            </a>

            <div id="discord-members-group"
                 class="avatar-group -space-x-6"
                 hx-get="{{ url('get_discord_members') }}"
                 hx-swap="innerHTML"
                 hx-trigger="load"
                 style="opacity:0"
                 _="init transition my opacity to 1">
                <div class="avatar placeholder">
                    {# This section is automatically populated by `home/htmx_partials/latest_discord_members.html` #}
                    <div class="w-12 bg-neutral-focus text-neutral-content">
                    </div>
                </div>
            </div>
        </div>
        <div id="chat-section" class="flex flex-col justify-center items-start px-6 2xl:px-12 py-6"
             _="on intersection
              transition #initial-message-giga-chad's opacity to 1
              then transition #initial-message-user's opacity to 1
              then transition #chat-response-buttons's opacity to 1
              then transition #excuses-container's opacity to 1">

            <div id="chat-container" class="flex flex-wrap items-start justify-start w-full max-lg:min-h-[20rem] max-lg:max-h-[35rem] lg:h-[20rem] p-8 mb-3 lg:mt-12 gap-4 overflow-y-auto rounded-l-box rounded-tr-box max-lg:rounded-r-box bg-base-100 border border-gray-600 relative"
                 _="init set my scrollTop to 0">
                {# Interactive Chat Box #}
                <div id="chat-interaction" class="w-full"
                     hx-get="{{ url('receive_gigachad_message') }}"
                     hx-target="#gigachad-message-to-replace"
                     hx-trigger="requestGigaChadResponse"
                     hx-vals="js:{'message_content': $userMessage}"
                     hx-swap="outerHTML scroll:#chat-container:bottom">

                    {# Chat messages #}
                    <div id="initial-message-giga-chad" class="chat chat-start" style="opacity:0">
                        <div class="chat-image avatar">
                            <div class="w-10 rounded-full">
                                <img src="{{ static('img/avatar-10x-giga-chad.webp') }}"  alt="Giga Chad"/>
                            </div>
                        </div>
                        <div class="chat-bubble chat-bubble-warning">
                            Hey chief. I'm here to help you become a 10x engineer.
                        </div>
                    </div>

                    <div id="initial-message-user" class="chat chat-end" style="opacity:0">
                        <div class="chat-image avatar">
                            <div class="w-10 rounded-full">
                                {% from 'macros/user_macros.jinja' import avatar %}
                                <img src="{{ avatar(user) }}"  alt="User Avatar"/>
                            </div>
                        </div>
                        <div class="chat-bubble">
                            I'm not ready to become a 10x engineer...
                        </div>
                    </div>
                </div>
            </div>

            {# Chat box input #}
            <div id="chat-response-buttons" class="flex w-full justify-center lg:justify-end" style="opacity:0"
                 _="on htmx:afterSettle(detail) from #chat-interaction
                    if detail.pathInfo.requestPath contains '{{ url('receive_gigachad_message') }}'
                        for button in my children remove @disabled from button">

                {# Behavior to process user's response #}
                <script type="text/hyperscript">
                    behavior processResponseBehavior(userMessageValue)
                      on click
                          // Disable all buttons to prevent user from sending multiple requests at once
                          set <#chat-response-buttons > button/>'s @disabled to true then

                          // Update the global user message
                          set $userMessage to userMessageValue then

                          // Initiate the sequence to display user's chat bubble in the UI
                          trigger sendUserResponse then

                          // Ensure target element is stable in DOM before proceeding to the next action
                          wait for htmx:afterSettle from body then

                          // Request GigaChad's response, which will involve a backend call to OpenAI
                          send requestGigaChadResponse to #chat-interaction then

                          // Remove this button from the DOM
                          remove me then

                          // Reduce the count of available excuses after each interaction
                          decrement $remainingExcuses then

                          // Adjust displayed excuse count or notify user when they're out of excuses
                          if $remainingExcuses == 0
                              put '📸 🤨 No excuses left' into #excuses
                          else
                              put `Excuses ` + it + `/3` into #excuses
                          end then
                      end
                    end
                </script>
                <button class="btn bg-base-100 md:me-1"
                        hx-post="{{ url('send_user_message') }}"
                        hx-vals="js:{message_content: $userMessage}"
                        hx-trigger="sendUserResponse"
                        hx-target="#chat-interaction"
                        hx-swap="beforeend scroll:#chat-container:bottom"
                        _="install processResponseBehavior(userMessageValue:'I dont have any money')">
                    No Money
                    <span id="money-emoji">💰</span>
                </button>
                <button class="btn bg-base-100 md:me-1"
                        hx-post="{{ url('send_user_message') }}"
                        hx-vals="js:{message_content: $userMessage}"
                        hx-trigger="sendUserResponse"
                        hx-target="#chat-interaction"
                        hx-swap="beforeend scroll:#chat-container:bottom"
                        _="install processResponseBehavior(userMessageValue:'I dont have any time')">
                    No Time
                    <span id="clock-emoji">🕐</span>
                </button>
                <button class="btn bg-base-100 md:me-1"
                        hx-post="{{ url('send_user_message') }}"
                        hx-vals="js:{message_content: $userMessage}"
                        hx-trigger="sendUserResponse"
                        hx-target="#chat-interaction"
                        hx-swap="beforeend scroll:#chat-container:bottom"
                        _="install processResponseBehavior(userMessageValue:'I dont have any talent')">
                    No Talent
                    <span id="none-emoji">🚫</span>
                </button>
            </div>

            {# Excuses #}
            <div id="excuses-container" class="flex w-full mt-3 justify-center lg:justify-end" style="opacity:0">
                <p id="excuses"
                   class="text-2xl text-gray-300"
                   _="init set $remainingExcuses to 3">
                    Excuses 3/3
                </p>
            </div>
        </div>
    </div>
{% endblock %}
